<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/crm</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="cf/crm/entity/Servicecustomer.hbm.xml" />
        <mapping resource="cf/crm/entity/User.hbm.xml" />
        <mapping resource="cf/crm/entity/Customer.hbm.xml" />
        <mapping resource="cf/crm/entity/Salechance.hbm.xml" />
        <mapping resource="cf/crm/entity/Orderrecordproduct.hbm.xml" />
        <mapping resource="cf/crm/entity/Service.hbm.xml" />
        <mapping resource="cf/crm/entity/Contactrecord.hbm.xml" />
        <mapping resource="cf/crm/entity/Outflow.hbm.xml" />
        <mapping resource="cf/crm/entity/Product.hbm.xml" />
        <mapping resource="cf/crm/entity/Datadictionary.hbm.xml" />
        <mapping resource="cf/crm/entity/Development.hbm.xml" />
        <mapping resource="cf/crm/entity/Orderrecord.hbm.xml" />
        <mapping resource="cf/crm/entity/Contactperson.hbm.xml" />
        <mapping resource="cf/crm/entity/Storage.hbm.xml" />
    </session-factory>
</hibernate-configuration>
