<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- Enable Hibernate's current session context -->

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- 映射文件 -->
		<mapping resource="cf/crm/entity/mapping/Service.hbm.xml" />
		<mapping resource="cf/crm/entity/mapping/Orderrecord.hbm.xml" />
		<mapping resource="cf/crm/entity/mapping/Customer.hbm.xml" />
		<mapping resource="cf/crm/entity/mapping/Contactperson.hbm.xml" />
		<mapping resource="cf/crm/entity/mapping/Product.hbm.xml" />
		<mapping resource="cf/crm/entity/mapping/Development.hbm.xml" />
		<mapping resource="cf/crm/entity/mapping/Orderrecordproduct.hbm.xml" />
		<mapping resource="cf/crm/entity/mapping/Contactrecord.hbm.xml" />
		<mapping resource="cf/crm/entity/mapping/User.hbm.xml" />
		<mapping resource="cf/crm/entity/mapping/Salechance.hbm.xml" />
		<mapping resource="cf/crm/entity/mapping/Servicecustomer.hbm.xml" />
		<mapping resource="cf/crm/entity/mapping/Datadictionary.hbm.xml" />
		<mapping resource="cf/crm/entity/mapping/Storage.hbm.xml" />
		<mapping resource="cf/crm/entity/mapping/Outflow.hbm.xml" />
	</session-factory>
</hibernate-configuration>
